@import 'https://js.arcgis.com/4.19/@arcgis/core/assets/esri/themes/light/main.css';
.esri-view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#mapViewNode {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#optionsDiv {
  background-color: white;
  color: black;
  padding: 6px;
  max-width: 400px;
  position: absolute;
  top: 100px;
  right: 0;
}
